<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewpoint" content="width=device-width, initial-scale=1" />
        <meta http-equiv="refresh" content="15; url={{ news.url or news.archive }}" />
        <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"> 
        <title>Shadiao News!</title>
        <style>
            .copyleft {
                display:inline-block;
                transform: rotate(180deg);
            }
            body {
                max-width: min-content;
                overflow-wrap: break-word;
                font-family: 'Roboto Mono', monospace;
            }
        </style>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-97897080-3"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-97897080-3');
        </script>
    </head>
    <body>
        <header>
            <h1>Shadiao News!</h1>
            <aside>Here's an example of {{ news.type }} news! Redirecting in 15 seconds...</aside>
        </header>
        <hr />
        <h2>Their point?</h2>
        <strong>{{ news.desc }}</strong>
        <br />
        <h2>Here are the links to the original article, if your browser isn't that tamed:</h2>
        <ul>
        {% if news.url %}
            <li>Original: <a href="{{ news.url }}">{{ news.url }}</a></li>
        {% endif %}
        {% if news.archive %}
            <li>Archived: <a href="{{ news.archive }}">{{ news.archive }}</a></li>
        {% endif %}
        </ul>
        <br />
        <hr />
        <p>Source code: <a href="https://github.com/RedL0tus/cykablyat.news">https://github.com/RedL0tus/cykablyat.news</a></p>
        <p>Pull requests & URL submissions are highly welcome!</p>
        <hr />
        <footer>
            <p><span class="copyleft">&copy;</span>2019 <a href="https://cykablyat.news">cykablyat.news</a></p>
        </footer>
    </body>
</html>
